.TabBlock {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 1px;
  -webkit-box-shadow: 5px 0 15px -4px rgba(219,219,219,1), -5px 0 8px -4px rgba(219,219,219,1);
  -moz-box-shadow: 5px 0 15px -4px rgba(219,219,219,1), -5px 0 8px -4px rgba(219,219,219,1);
  box-shadow: 5px 0 15px -4px rgba(219,219,219,1), -5px 0 8px -4px rgba(219,219,219,1);
}

/* Header Styles */
.TabHeader {
  white-space: nowrap;
  height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.TabHeader::-webkit-scrollbar {
  display: none;
}

.TabHeader.noScroll {
  display: flex;
}

.tab-title {
  height: 100%;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .12em;
  display: inline-block;
  cursor: pointer;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  overflow: hidden;
}

.tab-title:hover {
  background-color: #efefef;
}

.tab-title.selected {
  background-color: #fff;
  border-bottom: none;
  cursor: initial;
}

.tab-title:first-of-type {
  border-left: none;
}

.tab-title:last-of-type {
  border-right: none;
  flex-grow: 100;
}

.btn.scroll-left, .btn.scroll-right {
  position: absolute;
  margin-top: 5px;
  height: 50px;
  background-color: #747a7e;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.scroll-left {
  left: 10px;
  display: none;
}

.btn.scroll-right {
  right: 10px;
  display: none;
}

.btn.scroll-left.visible, .btn.scroll-right.visible {
  display: initial;
}

/* Content Styles */
.TabContent {
  padding: 20px 40px 40px;
}

.TabContent {
  opacity: 0;
}

.TabContent.visible {
  transition: opacity .2s ease-in;
  opacity: 1;
}

.backdrop.cover {
  z-index: 1;
  transition: opacity .1s ease-in;
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

img.TabContentElement {
  cursor: zoom-in;
  z-index: 99;
}

img.TabContentElement.selected {
  max-height: 80%;
  max-width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  cursor: zoom-out;
  transform: translate(-50%, -50%);
}
